{% extends 'base.html' %}

{% block extra_scripts %}
<script>

$(document).ready(function() {

    upper_odo = encodeURIComponent({{ upper_engine_reading }});
    lower_odo = encodeURIComponent({{ lower_engine_reading }});

    $("#btn-confirm").hide();

	$("#btn-submit").click(function() {

        changes = []

        $('.btn-service').each(function(i, val) {

            var odo = $(val).attr("data-engine-type").toLowerCase() === "upper" ? upper_odo : lower_odo

            if ($(val).hasClass("btn-success")) {
                var service_id = $(val).attr("data-id");
                changes.push({"service_id": service_id, "odometer_reading": odo});
            }
        });

		$.ajax({
            url: '/service/update',
            dataType: 'json',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify(changes),
            success: function(response) {
                $('#baseModal').modal('toggle');
                $('#calc-form').submit();
            },
            error: function(error) {
                alert("there was an error with your request: " + error.responseText);
                $('#baseModal').modal('toggle');
            }
        });
	});

    $(".btn-service").click(function() {
        $(this).toggleClass("btn-success");

        if ($('.btn-success').length <= 0) {
            $("#btn-confirm").hide();
        }
        else {
            $("#btn-confirm").show();
        }
    });

    $("#btn-confirm").click(function() {
        $("#confirm-text").html(getConfirmChangesHtml());
    });
});

function getConfirmChangesHtml() {

    var html = "<ol>"

    $('.btn-service').each(function(i, val) {

        if ($(val).hasClass("btn-success")) {
            var service_id = $(val).attr("data-id")
            var odo = $(val).attr("data-engine-type").toLowerCase() === "upper" ? upper_odo : lower_odo
            var service_name = $(val).parent().next().text()

            html += "<li><strong>" + service_name + "</strong> - " + odo + "</li>"
        }
    });

    html += "</ol>"

    return html
}

</script>
{% endblock %}

{% block extra_head %}
<style>
dl {
    margin: 0px;
}

.form-group {
    margin: 0 15px;
}
</style>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12 text-center">
            <div class="panel panel-default">
              <div class="panel-body">
                {% from "_formhelpers.html" import render_field %}
                <form id="calc-form" class="form-inline" method=post action="/">
                      <div class="form-group">
                          <dl>
                            {{ render_field(form.lower_engine_reading) }}
                          </dl>
                      </div>
                    <div class="form-group">
                      <dl>
                        {{ render_field(form.upper_engine_reading) }}
                      </dl>
                        </div>
                     <div class="form-group">
                         {{ render_field(form.cranes) }}
                    </div>
                    <div class="form-group">
                      <button class="btn btn-default" type=submit>Submit</button>
                    </div>
                </form>
              </div>
            </div>
		</div>
	{% if service_operations|length > 0 %}
		<div class="row">
			<div class="col-sm-12">
			<table id="service-table" class="table table-striped">
			    <thead>
			      <tr>
			      	<th></th>
			        <th>Service</th>
                    <th>Engine</th>
			        <th>Operation</th>
			        <th>Interval</th>
                    <th>Gallons</th>
                    <th>Liters</th>
                    <th>Last Serviced Mileage</th>
			        <th>Last Serviced</th>
			      </tr>
			    </thead>
			    <tbody>
			    {% for service in service_operations %}
			      <tr>
			      	<td><button class="btn btn-default btn-sm btn-service" data-id="{{ service.service_id }}" data-engine-type='{{ service.engine_type }}'><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></button></td>
			        <td><a target="_blank" href='{{ url_for('service_detail', service_id=service.service_id) }}'>{{ service.service_name }}</a></td>
                    <td>{{ service.engine_type }}</td>
			        <td>{{ service.service_operation }}</td>
			        <td>{{ service.service_interval }}</td>
                    <td>{{ service.service_capacity_gallons }}</td>
                    <td>{{ service.service_capacity_liters }}</td>
                    <td>{{ service.service_lastupdate_odo }}</td>
			        <td>{{ service.service_lastupdate }}</td>
			      </tr>
	  			{% endfor %}
			  
			    </tbody>
			  </table>

                <button type="button" id="btn-confirm" class="btn btn-primary" data-toggle="modal" data-target="#baseModal">
                  Submit Updates
                </button>
			</div>
		</div>
    {% elif service_logs|length <= 0 and isPost %}
        <div class="row">
            <h3>There are no services that meet the given criteria.</h3>
		</div>
	{% endif %}

    <div class="modal fade" id="baseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
          </div>
          <div class="modal-body">
              <div id="confirm-text"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="btn-submit" type="button" class="btn btn-primary">Save updates</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}